.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.accordion-btn {
  background-color: white;

  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  padding-left: 5px;
  transition: max-height 0.3s ease;
  /* border: 1px solid #ddd; */
}

.content p {
  margin: 0;
}

.icon {
  font-size: 24px;
  transition: transform 0.3s ease;
  background-color: white;
}

.accordion-btn.active .icon {
  transform: rotate(45deg); /* Simbolul "+" devine "–" */
}
